@keyframes btn-fade-in {

  0% {
    opacity: 0;
    top: 1rem;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes popup {

  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes cloud-float {

  0% {
    left: 0;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    left: 120%;
    opacity: 0;
  }
}

@keyframes click-me {

  0% {
    top: 0;
  }

  25% {
    top: .4rem;
  }

  50% {
    top: 0;
  }

  100% {
    top: 0;
  }
}

@keyframes family-fade-in {

  0% {
    opacity: 0;
    top: 7rem;
  }

  100% {
    opacity: 1;
    top: 8.5rem;
  }
}

@keyframes member-dropzone {

  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

@keyframes familyMembers-fade-in {

  0% {
    opacity: 0;
    top: 2rem;
  }

  100% {
    opacity: 1;
    top: 3.5rem;
  }
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-language {

  0% {
    opacity: 0;
    height: 2.1rem;
    max-width: 0;
  }

  50% {
    opacity: 0;
    height: 5.6rem;
    max-width: 20rem;
  }

  100% {
    opacity: 1;
    height: 5.6rem;
    max-width: 20rem;
  }
}
