@import 'reset';
@import './fonts/fonts';

/* --- COLORS --- */
$white: #f4f4f4;
$black: #232323;

$bg: #ffc600;
$textMain: #b78404;
$titleShadow: #f2b406;

$btnBg: #8b25ff;
$btnShadow: #dd9f07;

$inputBg: #f2b406;
$inputShadow: #dd9f07;

/* --- GENERAL --- */

body {
  font-family: 'din_rounded', 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 2.1rem;
  background: $bg;
  color: $textMain;
}

.overlay {
  display: none;
}

input[type=search]::-webkit-search-cancel-button {
  appearance: searchfield-cancel-button;
}

button,
input {

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    background: none;
  }
}

input[type=text],
input[type=search] {
  background-color: $inputBg;
  box-shadow: inset 0 .5rem 0 0 $inputShadow;
  border: none;
  border-radius: 10rem;
  padding: 0 4rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 500;
  color: $white;

  &::placeholder {
    color: $inputShadow;
  }
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  transition: all .3s ease;

  position: relative;
  top: 0;
  opacity: 0;

  text-decoration: none;

  padding: 1.5rem 5rem 1.5rem 2.5rem;
  margin: 0 1rem;

  border: none;
  border-radius: 10rem;

  animation: .5s btn-fade-in ease;
  animation-delay: .5s;
  animation-fill-mode: forwards;

  background: $btnBg;
  box-shadow: 0 .5rem 0 0 $btnShadow;

  &:hover {
    cursor: pointer;
  }

  .icon {
    width: 5rem;
    height: 5rem;
  }

  .text {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 2.4rem;
    color: $white;
  }

  &.iconBtn {
    padding: 1rem;
  }

  &.backBtn {

    padding: 1rem 3rem 1rem 1.5rem;
    background: $titleShadow;

    .icon {
      width: 3rem;
      height: 3rem;
    }

    .text {
      position: relative;
      top: 2px;
      margin-left: 1rem;
      font-size: 1.8rem;
    }
  }
}

.smallIcon {
  width: 3rem;
  height: 3rem;
}

.list-inline {
  display: flex;
  align-items: center;
}

.checked {
  width: 2rem;
  height: 2rem;
}

.fullPage {
  width: 100vw;
  height: 100vh;

  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

/* --- START --- */
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .btn {
    margin-top: 5rem;
  }
}

/* --- INTRO --- */
.intro {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    position: absolute;
    bottom: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contentText {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 8rem;
    }
  }

  .buttons {
    justify-content: center;
    height: 8rem;
  }

  .title {
    position: relative;
    color: $white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 4rem;

    &::before {
      color: $titleShadow;
      position: absolute;
      top: .2rem;
      z-index: -1;
      left: 0;
      -webkit-text-stroke: 1.5rem $titleShadow;
    }
  }

  .subtitle {
    margin-bottom: 3rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &.familyMembers {

    .title {

      &::before {
        content: attr(data-before);
      }
    }

    .memberBtn {
      position: relative;

      .icon {
        width: 7rem;
        height: 7rem;
      }

      &:first-child {
        left: 5rem;
      }

      &:last-child {
        right: 5rem;
      }
    }

    .headerBg {
      position: absolute;
      top: 1rem;

      width: 100%;
      height: 33rem;

      background: url(/assets/headers/familyMembers/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      height: 29.5rem;
      opacity: 0;
      left: -.5rem;

      animation: .5s familyMembers-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .membersList {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6rem;

      .member {
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        border: .5rem solid $textMain;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        font-size: 4rem;
        color: $white;
        margin: 0 1rem;
      }
    }
  }

  &.familyDetails {

    .title {

      margin-bottom: 4rem;

      &::before {
        content: attr(data-before);
      }
    }

    .membersList {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;

      .member {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: $textMain;
      }

      .completed {
        position: absolute;
        top: 0;
        left: 0;

        width: 12rem;
        height: 12rem;

        margin: 0 1rem;
        border-radius: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, .75);

        .icon {
          position: relative;
          top: -6rem;
          width: 4rem;
          height: 4rem;
        }
      }

      .name {
        margin-top: .5rem;
      }

      .avatar {
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        border: .5rem solid $textMain;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        font-size: 4rem;
        color: $white;
        margin: 0 1rem;
      }

      .avatarFound {
        border: none;
      }
    }

    .headerBg {
      position: absolute;
      top: 1rem;

      width: 100%;
      height: 33rem;

      background: url(/assets/headers/familyDetails/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      height: 25rem;
      opacity: 0;
      left: -.5rem;

      animation: .5s family-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }

  &.familyLanguages {

    .title {

      margin-bottom: 2rem;

      &::before {
        content: 'Family languages';
      }
    }

    .headerBg {
      position: absolute;

      width: 100%;
      height: 33rem;

      background: url(/assets/headers/familyLanguages/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      height: 22rem;
      top: 2rem;
      z-index: -1;
    }

    .selectLanguages {
      display: flex;
      justify-content: space-between;
      width: 80vw;
      height: 20rem;
      margin-bottom: 5rem;
    }

    .searchLanguage {
      width: 40rem;
      overflow-y: scroll;

      .search {
        height: 6rem;
        font-size: 1.8rem;
        text-align: left;
        padding: 0 2rem;
      }
    }

    .searchResult,
    .locationResult,
    .selectedLanguages {
      margin-top: 2rem;

      .flag {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
      }

      .item {
        display: inline-block;
        margin-right: 3rem;
        opacity: 0;
        height: 0;
        max-width: 0;

        animation: .5s show-language ease;
        animation-fill-mode: forwards;
      }

      .language {
        position: relative;
        display: flex;
        align-items: center;
        background: $white;
        padding: 1rem 3rem 1rem 1rem;
        color: $black;
        box-shadow: 0 .5rem 0 0 $btnShadow;
        border-radius: 10rem;

        margin-bottom: 1.5rem;

        &::after {
          position: absolute;
          right: -1rem;
          content: '';
          min-width: 1rem;
          min-height: 1rem;
          padding: 1rem;
          background-image: url(/assets/icons/add.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      .checkbox:checked + .language::after {
        background-image: url(/assets/icons/delete.svg);
      }
    }

    .mostSpokenLanguage {
      width: 50rem;
      margin-right: 5rem;

      .title {
        font-size: 2.6rem;

        &::before {
          content: '';
        }
      }
    }

    .languagesDisabled {

      .text {
        margin-left: 1rem;
      }
    }

    .selectedLanguages {
      margin-bottom: 5rem;
      max-width: 80vw;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &.allowLocation {

    .headerBg {
      position: absolute;
      top: 1rem;

      width: 100%;
      height: 36rem;

      background: url(/assets/headers/location/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      top: 8.5rem;
      width: 43rem;
      height: 28rem;
      opacity: 0;

      animation: .5s family-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .title {

      &::before {
        content: 'Country?';
      }
    }

    .subtitle {

      p:first-child {
        margin-bottom: 1rem;
      }
    }

    .btnList {
      width: 40rem;
      justify-content: space-between;
    }
  }

  &.familyName {

    .headerBg {
      position: absolute;
      top: 1rem;

      width: 100%;
      height: 36rem;

      background: url(/assets/headers/familyName/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      top: 8.5rem;
      width: 43rem;
      height: 28rem;
      opacity: 0;

      animation: .5s family-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .title {

      &::before {
        content: 'Family';
      }
    }
  }

  .textInput {
    width: 70rem;
    height: 8rem;
  }
}

.confirmationBox,
.customAvatarsOverview {
  z-index: 99999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
  color: $white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.possibleColor {
  width: 10rem;
  height: 10rem;

  &.inactive {
    opacity: .5;
  }
}

.colorLanguagesList {

  display: flex;
  flex-direction: column;

  .language {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  .languageColor {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: white;
    margin-right: .5rem;
    border: 2px solid grey;
  }
}

.avatars {
  position: relative;
  width: 384px;
  height: 485px;
}

.draggable {
  z-index: 99999;
}

/* --- CUSTOMISE --- */

.customOverviewAvatar {

  .armLeft {
    transform: translate(6rem, 6rem);
  }

  .armRight {
    transform: translate(-7rem, 6rem);
  }

  .head,
  .ear,
  .mouth,
  .cheeck,
  .braw,
  .eye,
  .nose,
  .teeth,
  .tongue {
    transform: translate(0, 12rem);
  }

  .body,
  .pants,
  .nipple,
  .bellybutton {
    transform: translate(0, 6rem);
  }
}

.customAvatar {

  position: absolute;
  transition: all .5s ease;

  .dropzone {
    transition: all .5s ease;

    path,
    ellipse,
    circle {
      transition: all .5s ease;
    }
  }

  &.interactable {
    opacity: 0;
  }

  &.nonInteractable {

    .armLeft {
      transform: translate(6rem, 6rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }

    .armRight {
      transform: translate(-7rem, 6rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }

    .head,
    .ear,
    .mouth,
    .cheeck,
    .braw,
    .eye,
    .nose,
    .teeth,
    .tongue {
      transform: translate(0, 12rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }

    .body,
    .pants,
    .nipple,
    .bellybutton {
      transform: translate(0, 6rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }
  }
}

/* --- ANIMATIONS --- */
@import 'animations';

/* --- QUERIES --- */

/* warning overlay if not using tablet or portrait mode */
@media all and (max-width: 1023px) {

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999999999999;

    font-size: 3rem;
    color: $white;
    text-align: center;
    line-height: 4rem;

    &.error {
      background: $bg;
    }

    .text {
      max-width: 90vw;
    }

    .bold {
      color: $textMain;
    }
  }
}
