@import 'reset';
@import './fonts/fonts';

/* --- COLORS --- */
$white: #f4f4f4;
$black: #232323;

$bg: #ffc600;
$textMain: #b78404;
$titleShadow: #f2b406;

$btnBg: #8b25ff;
$btnShadow: #dd9f07;
$infoBtnShadow: #551cc4;

$inputBg: #f2b406;
$inputShadow: #dd9f07;

/* --- GENERAL --- */

body {
  font-family: 'din_rounded', 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 2.1rem;
  background: $bg;
  color: $textMain;
}

.overlay {
  display: none;
}

input[type=search]::-webkit-search-cancel-button {
  appearance: searchfield-cancel-button;
}

button,
input {

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    background: none;
  }
}

input[type=text],
input[type=search] {
  background-color: $inputBg;
  box-shadow: inset 0 .5rem 0 0 $inputShadow;
  border: none;
  border-radius: 10rem;
  padding: 0 4rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 500;
  color: $white;
  font-family: 'din_rounded', 'Helvetica neue', Helvetica, Arial, sans-serif;

  &::placeholder {
    color: $inputShadow;
  }
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  transition: all .3s ease;

  position: relative;
  top: 0;
  opacity: 0;

  text-decoration: none;

  padding: 1.5rem 5rem 1.5rem 2.5rem;
  margin: 0 1rem;

  border: none;
  border-radius: 10rem;

  animation: .5s btn-fade-in ease;
  animation-delay: .5s;
  animation-fill-mode: forwards;

  background: $btnBg;
  box-shadow: 0 .5rem 0 0 $btnShadow;

  &:hover {
    cursor: pointer;
  }

  .icon {
    width: 5rem;
    height: 5rem;
  }

  .text {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 2.4rem;
    color: $white;
  }

  &.iconBtn {
    padding: 1rem;
  }

  &.backBtn {

    padding: 1rem 3rem 1rem 1.5rem;
    background: $titleShadow;

    .icon {
      width: 3rem;
      height: 3rem;
    }

    .text {
      position: relative;
      top: 2px;
      margin-left: 1rem;
      font-size: 1.8rem;
    }
  }
}

.smallIcon {
  width: 3rem;
  height: 3rem;
}

.list-inline {
  display: flex;
  align-items: center;
}

.checked {
  width: 2rem;
  height: 2rem;
}

.fullPage {
  width: 100vw;
  height: 100vh;

  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;

  overflow: hidden;
}

.title {
  position: relative;
  color: $white;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 3rem;

  &::before {
    color: $titleShadow;
    position: absolute;
    top: .2rem;
    z-index: -1;
    left: 0;
    -webkit-text-stroke: 1.5rem $titleShadow;
  }
}

/* --- START --- */
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .btn {
    margin-top: 5rem;
  }
}

/* --- INTRO --- */
.intro {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    position: absolute;
    bottom: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contentText {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 8rem;
    }
  }

  .buttons {
    justify-content: center;
    height: 8rem;
  }

  .subtitle {
    margin-bottom: 3rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &.familyMembers {

    .title {

      &::before {
        content: attr(data-before);
      }
    }

    .memberBtn {
      position: relative;

      .icon {
        width: 7rem;
        height: 7rem;
      }

      &:first-child {
        left: 5rem;
      }

      &:last-child {
        right: 5rem;
      }
    }

    .headerBg {
      position: absolute;
      top: 1rem;

      width: 100%;
      height: 33rem;

      background: url(/assets/headers/familyMembers/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      height: 29.5rem;
      opacity: 0;
      left: -.5rem;

      animation: .5s familyMembers-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .membersList {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6rem;

      .member {
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        border: .5rem solid $textMain;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        font-size: 4rem;
        color: $white;
        margin: 0 1rem;
      }
    }
  }

  &.memberLanguages {

    .headerBg {
      position: absolute;

      width: 100%;
      height: 33rem;

      background: url(/assets/headers/familyLanguages/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      height: 22rem;
      top: 2rem;
      z-index: -1;
    }

    .title {

      margin-bottom: 2rem;

      &::before {
        content: attr(data-before);
      }
    }

    .selectLanguages {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;
      margin-bottom: 2rem;
    }

    .searchLanguage {
      width: 60rem;
      overflow-y: scroll;
      margin-top: 2rem;

      .search {
        width: 100%;
        height: 6rem;
        font-size: 1.8rem;
        text-align: left;
        padding: 0 2rem;
      }
    }

    .searchResult {
      min-height: 5.6rem;
    }

    .searchResult,
    .locationResult,
    .selectedLanguages {
      margin: 2rem 0;

      .flag {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
      }

      .item {
        display: inline-block;
        margin-right: 3rem;
        opacity: 0;
        height: 0;
        max-width: 0;

        animation: .5s show-language ease;
        animation-fill-mode: forwards;
      }

      .language {
        position: relative;
        display: flex;
        align-items: center;
        background: $white;
        padding: 1rem 3rem 1rem 1rem;
        color: $black;
        box-shadow: 0 .5rem 0 0 $btnShadow;
        border-radius: 10rem;

        margin-bottom: 1.5rem;

        &::after {
          position: absolute;
          right: -1rem;
          content: '';
          min-width: 1rem;
          min-height: 1rem;
          padding: 1rem;
          background-image: url(/assets/icons/add.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      .checkbox:checked + .language::after {
        background-image: url(/assets/icons/delete.svg);
      }
    }
  }

  &.memberAvatar {

    .headerBg {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 22rem;

      background: url(/assets/headers/memberAvatar/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    input[type=range] {
      appearance: none;
      background: $inputBg;
      box-shadow: inset 0 .5rem 0 0 $inputShadow;
      border-radius: 10rem;
      width: 48rem;
      height: 1.5rem;
    }

    input[type=range]::-webkit-slider-thumb {
      appearance: none;
      border: .5rem solid $btnBg;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background: $white;
    }

    input[type=range]:focus {
      outline: none;
    }

    .avatars {
      width: 100%;
      justify-content: center;
      margin: 3rem 0;
    }

    .formGroup {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .memberAge {
      margin: 0 2rem;
      width: 8rem;
      height: 5rem;
      text-align: center;
      background: $inputBg;
      box-shadow: inset 0 .5rem 0 0 $inputShadow;
      border-radius: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      color: $white;
    }

    .ageSlider {
      height: 1.5rem;
      background: $inputBg;
    }

    .possibleAvatarWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      width: 10rem;
      height: 10rem;
      margin: 0 .5rem;
    }

    .checked {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .75);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 10rem;
      border-radius: 10rem;

      .icon {
        width: 3rem;
        height: 3rem;
      }
    }

    .possibleAvatar {
      width: 10rem;
      height: 10rem;
    }

    .avatarWrap {
      position: relative;
      border: 1rem solid $btnBg;
      border-radius: 10rem;
      width: 20rem;
      height: 20rem;

      .icon {
        position: absolute;
        top: -4rem;
        right: 3rem;

        width: 6.8rem;
        height: 5.9rem;
        background: url(/assets/headers/memberAvatar/crown.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-size: 4rem;
      color: $white;
      background: rgba(0, 0, 0, .75);

      width: 18rem;
      height: 18rem;

      border: 1rem solid $white;
      border-radius: 10rem;
    }
  }

  &.familyDetails {

    .title {

      margin-bottom: 4rem;

      &::before {
        content: attr(data-before);
      }
    }

    .membersList {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;

      .member {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: $textMain;
      }

      .clickmeWrap {
        position: absolute;
        top: 0;
        left: 0;

        width: 12rem;
        height: 12rem;

        margin: 0 1rem;
        border-radius: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .clickme {
        position: relative;
        width: 4rem;
        height: 4rem;
        top: -6rem;
        border-radius: 10rem;
        background-color: $textMain;

        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          position: relative;
          animation: 1s click-me ease;
          animation-iteration-count: infinite;
          width: 2rem;
          height: 2rem;
          transform: rotate(-45deg);
        }
      }

      .completed {
        position: absolute;
        top: 0;
        left: 0;

        width: 12rem;
        height: 12rem;

        margin: 0 1rem;
        border-radius: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, .75);

        .icon {
          position: relative;
          top: -6rem;
          width: 4rem;
          height: 4rem;
        }
      }

      .name {
        margin-top: .5rem;
      }

      .avatar {
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        border: .5rem solid $textMain;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        font-size: 4rem;
        color: $white;
        margin: 0 1rem;
      }

      .avatarFound {
        border: none;
      }
    }

    .headerBg {
      position: absolute;
      top: 1rem;

      width: 100%;
      height: 33rem;

      background: url(/assets/headers/familyDetails/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      height: 25rem;
      opacity: 0;
      left: -.5rem;

      animation: .5s family-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }

  &.familyLanguages {

    .title {

      margin-bottom: 2rem;

      &::before {
        content: 'Family languages';
      }
    }

    .headerBg {
      position: absolute;

      width: 100%;
      height: 33rem;

      background: url(/assets/headers/familyLanguages/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      height: 22rem;
      top: 2rem;
      z-index: -1;
    }

    .selectLanguages {
      display: flex;
      justify-content: space-between;
      width: 80vw;
      height: 20rem;
      margin-bottom: 5rem;
    }

    .searchLanguage {
      width: 40rem;
      overflow-y: scroll;

      .search {
        height: 6rem;
        font-size: 1.8rem;
        text-align: left;
        padding: 0 2rem;
      }
    }

    .searchResult,
    .locationResult,
    .selectedLanguages {
      margin-top: 2rem;

      .flag {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
      }

      .item {
        display: inline-block;
        margin-right: 3rem;
        opacity: 0;
        height: 0;
        max-width: 0;

        animation: .5s show-language ease;
        animation-fill-mode: forwards;
      }

      .language {
        position: relative;
        display: flex;
        align-items: center;
        background: $white;
        padding: 1rem 3rem 1rem 1rem;
        color: $black;
        box-shadow: 0 .5rem 0 0 $btnShadow;
        border-radius: 10rem;

        margin-bottom: 1.5rem;

        &::after {
          position: absolute;
          right: -1rem;
          content: '';
          min-width: 1rem;
          min-height: 1rem;
          padding: 1rem;
          background-image: url(/assets/icons/add.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      .checkbox:checked + .language::after {
        background-image: url(/assets/icons/delete.svg);
      }
    }

    .mostSpokenLanguage {
      width: 50rem;
      margin-right: 5rem;

      .title {
        font-size: 2.6rem;

        &::before {
          content: '';
        }
      }
    }

    .languagesDisabled {

      .text {
        margin-left: 1rem;
      }
    }

    .selectedLanguages {
      margin-bottom: 5rem;
      max-width: 80vw;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &.allowLocation {

    .headerBg {
      position: absolute;
      top: 1rem;

      width: 100%;
      height: 36rem;

      background: url(/assets/headers/location/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      top: 8.5rem;
      width: 43rem;
      height: 28rem;
      opacity: 0;

      animation: .5s family-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .title {

      &::before {
        content: 'Country?';
      }
    }

    .subtitle {

      p:first-child {
        margin-bottom: 1rem;
      }
    }

    .btnList {
      width: 40rem;
      justify-content: space-between;
    }
  }

  &.familyName {

    .headerBg {
      position: absolute;
      top: 0;

      width: 100%;
      height: 36rem;

      background: url(/assets/headers/familyName/bg.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    .headerBgExtra {
      position: relative;
      top: 8.5rem;
      width: 43rem;
      height: 27rem;
      opacity: 0;

      animation: .5s family-fade-in ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .title {

      &::before {
        content: 'Family';
      }
    }
  }

  .textInput {
    width: 70rem;
    height: 8rem;
  }
}

/* --- ACTIVITIES OVERVIEW --- */

.activities,
.activityDetails {

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;
  background: $bg;

  .title {
    text-align: center;
    margin-top: 5rem;

    &::before {
      content: 'Activities';
    }
  }

  .headerBg {
    position: absolute;
    top: 1rem;

    width: 100%;
    height: 100%;

    background: url(/assets/activities/bg.svg) no-repeat;
    background-position: center;
    background-size: contain;
  }

  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14rem;
    overflow: hidden;
  }

  .cloud {
    position: absolute;

    background: url(/assets/activities/cloud.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12rem;
    height: 7rem;
    opacity: 0;

    z-index: -1;

    animation: cloud-float;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &:nth-child(1) {
      top: 1rem;
    }

    &:nth-child(2) {
      top: 2rem;
      animation-delay: 10s;
      animation-duration: 38s;
    }

    &:nth-child(3) {
      top: 1.5rem;
      animation-delay: 15s;
      animation-duration: 30s;
    }

    &:nth-child(4) {
      top: .6rem;
      animation-delay: 35s;
      animation-duration: 20s;
    }

    &:nth-child(5) {
      top: 1.25rem;
      animation-delay: 24s;
      animation-duration: 25s;
    }
  }

  .activitiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
  }

  .cover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 3rem;
  }

  .activity {
    position: relative;
    display: block;
    width: 22rem;
    height: 20rem;
    border-radius: 2rem;
    background: $btnBg;
    box-shadow: 0 .5rem 0 0 $btnShadow;
    margin: 2.5rem 0;

    &.disabled {
      opacity: .5;
    }

    &:nth-child(3n + 2) {
      margin: 2.5rem 5rem;
    }
  }

  .activityTitle {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 5rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url(/assets/activities/clouds.svg) no-repeat;
    background-size: cover;
    background-position: 0 0;
    border-radius: 0 0 2rem 2rem;

    font-weight: bold;
    text-align: center;
    color: $btnBg;

    .text {
      position: relative;
      top: .6rem;
    }
  }

  .infoBtn {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;

    z-index: 5;

    background: $btnBg;
    box-shadow: 0 .4rem 0 0 $infoBtnShadow;

    width: 5rem;
    height: 5rem;
    border-radius: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    text-align: center;
    color: $white;
    text-decoration: none;
    font-weight: bold;

    .text {
      position: relative;
      top: 3px;
    }
  }

  .members {
    display: flex;
    flex-direction: row;
  }

  .member {
    position: relative;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    background: $inputBg;
    border-radius: 10rem;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: $inputBg;

    .btn {
      opacity: 1;
      width: 8rem;
      height: 8rem;
      padding: 1rem;
      background: $inputBg;
      box-shadow: none;
      animation: none;
    }

    .icon {
      width: 100%;
      height: 100%;
      border-radius: 10rem;
    }

    .complete {
      padding: 2rem;
      background: #67c928;
    }

    .dl {
      padding: 1.5rem;
      background: $btnBg;
    }

    .content {
      position: relative;
      top: -5rem;
      margin: 0 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.popup {
  z-index: 99999999;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;

  animation: .4s fade-in ease;
  animation-fill-mode: forwards;

  background: rgba(0, 0, 0, .75);

  .btn {

    .text {
      display: flex;
      align-items: center;
    }
  }

  .title {
    margin-top: 1rem;
    z-index: 9999999999;

    &::before {
      content: attr(data-before);
    }
  }

  .explanation {
    line-height: 3rem;
    margin: 0 2rem 3rem;
    color: $textMain;
  }

  .close {
    position: absolute;
    top: -3rem;
    right: -3rem;

    .btn {
      background: url(/assets/icons/close_2.svg) no-repeat;
      background-position: center;
      background-size: contain;
      box-shadow: 0 .5rem 0 0 $btnShadow;

      width: 6rem;
      height: 6rem;

      padding: 0;
      margin: 0;
    }
  }

  .content {
    position: relative;
    width: 70rem;
    height: auto;
    background: $bg;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 1rem 0 0 $btnShadow;
    border-radius: 2rem;

    padding: 2rem;

    animation: .4s popup ease;
    animation-fill-mode: forwards;
  }

}

/* --- ACTIVITY DETAILS --- */

.activityDetails {

  .details {
    position: relative;
    top: 32rem;

    max-width: 75vw;
    display: flex;
    justify-content: center;
    max-height: 32rem;
    background: $bg;
  }

  .section {
    margin-bottom: 2rem;
    line-height: 3rem;

    .title {
      font-size: 2rem;
      color: $btnBg;
      margin: 0;
      text-align: left;
      background: none;

      &::before {
        content: '';
      }
    }
  }

  .sidebar {
    min-width: 14rem;
    margin-right: 5rem;

    .btn {
      margin: 0;
      padding: 1rem 2rem 1rem 1rem;
      animation: none;
      opacity: 1;
    }

    .icon {
      width: 3rem;
      height: 3rem;
    }

    .text {
      margin-left: 1rem;
    }
  }

  .main {
    overflow-y: scroll;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 28rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bg;

    .title {
      margin: 3rem 0 0;
      z-index: 10;

      background: $bg;

      &::before {
        content: attr(data-before);
      }
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20rem;
      background: url(/assets/activities/covers/bg.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }

    .cover {
      padding: 1rem;
      box-shadow: 0 1rem 0 0 $btnShadow;
    }

    .image {
      height: 200%;
      position: relative;
      left: 5rem;
    }
  }

  .closeBtn {
    width: 5rem;
    height: 5rem;

    padding: 0;
    margin: 2rem 2rem 0 0;

    position: absolute;
    right: 0;

    z-index: 999;

    background: url(/assets/icons/close_2.svg) no-repeat;
    background-position: center;
    background-size: contain;
  }
}

/* ACTIVITY: GENERAL */

.activity {
  position: relative;

  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;

    width: 5rem;
    height: 5rem;

    padding: 0;
    margin: 2rem 2rem 0 0;

    z-index: 999;

    background: url(/assets/icons/close_2.svg) no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.introVideo {

  display: flex;
  flex-direction: column;

  .header {
    height: 12rem;
    box-shadow: 0 .5rem 0 0 $btnShadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .left {
      display: flex;
      align-items: center;
    }

    .time {
      margin-left: 2rem;
      font-weight: bold;
      color: $white;
    }
  }

  .playBtn {

    .btn {
      margin: 0;
      padding: 1rem;
    }
  }

  .skipBtn {

    .btn {
      margin: 0;
      padding: 1rem 3rem 1rem 1.5rem;
      background: $bg;

      .icon {
        transform: rotate(180deg);
        width: 3rem;
        height: 3rem;
      }

      .text {
        position: relative;
        top: 2px;
        margin-left: 1rem;
        font-size: 1.8rem;
      }
    }
  }

  .title {
    margin-bottom: 0;

    &::before {
      content: attr(data-before);
    }
  }

  .video {
    width: 100%;
    flex: 1;
    background: $black;
  }
}

.confirmationBox,
.customAvatarsOverview {
  z-index: 99999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
  color: $white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.possibleColor {
  width: 10rem;
  height: 10rem;

  &.inactive {
    opacity: .5;
  }
}

.colorLanguagesList {

  display: flex;
  flex-direction: column;

  .language {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  .languageColor {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: white;
    margin-right: .5rem;
    border: 2px solid grey;
  }
}

.draggable {
  z-index: 99999;
}

/* --- CUSTOMISE --- */

.customOverviewAvatar {

  .armLeft {
    transform: translate(6rem, 6rem);
  }

  .armRight {
    transform: translate(-7rem, 6rem);
  }

  .head,
  .ear,
  .mouth,
  .cheeck,
  .braw,
  .eye,
  .nose,
  .teeth,
  .tongue {
    transform: translate(0, 12rem);
  }

  .body,
  .pants,
  .nipple,
  .bellybutton {
    transform: translate(0, 6rem);
  }
}

.customAvatar {

  position: absolute;
  transition: all .5s ease;

  .dropzone {
    transition: all .5s ease;

    path,
    ellipse,
    circle {
      transition: all .5s ease;
    }
  }

  &.interactable {
    opacity: 0;
  }

  &.nonInteractable {

    .armLeft {
      transform: translate(6rem, 6rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }

    .armRight {
      transform: translate(-7rem, 6rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }

    .head,
    .ear,
    .mouth,
    .cheeck,
    .braw,
    .eye,
    .nose,
    .teeth,
    .tongue {
      transform: translate(0, 12rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }

    .body,
    .pants,
    .nipple,
    .bellybutton {
      transform: translate(0, 6rem);

      &.drop-active {
        transform: translate(0, 0);
      }
    }
  }
}

/* --- ANIMATIONS --- */
@import 'animations';

/* --- QUERIES --- */

/* warning overlay if not using tablet or portrait mode */
@media all and (max-width: 1023px) {

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999999999999;

    font-size: 3rem;
    color: $white;
    text-align: center;
    line-height: 4rem;

    &.error {
      background: $bg;
    }

    .text {
      max-width: 90vw;
    }

    .bold {
      color: $textMain;
    }
  }
}
